<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/header.ejs") %>
    <div class="container">
            <% for(let i = 0; i < pokemon.length; i++) { %>
                <div class="card">
                    <header><a href="/pokedex/<%=i%>"><h2><%=pokemon[i].name%></h2></a></header>
                    <img src="<%=pokemon[i].img%>" alt="<%=pokemon[i].name%>">
                </div>
            <% } %>
    </div>
</body>
</html>